nav {
  background-color: #4056A1;
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

div {
  padding: 0 1.5em;
}

.nav-title {
  font-family: Bungee;
}

div {
  padding: 0 1.5em;
}

.click-here {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-here i {
  color: red;
}
